In [18]:
# Install the required libraries
!pip install prophet

Requirement already satisfied: prophet in c:\users\tom\anaconda3\envs\dev\lib\site-packages (1.1.6)
Requirement already satisfied: cmdstanpy>=1.0.4 in c:\users\tom\anaconda3\envs\dev\lib\site-packages (from prophet) (1.2.4)
Requirement already satisfied: numpy>=1.15.4 in c:\users\tom\anaconda3\envs\dev\lib\site-packages (from prophet) (1.26.4)
Requirement already satisfied: matplotlib>=2.0.0 in c:\users\tom\anaconda3\envs\dev\lib\site-packages (from prophet) (3.8.4)
Requirement already satisfied: pandas>=1.0.4 in c:\users\tom\anaconda3\envs\dev\lib\site-packages (from prophet) (2.2.2)
Requirement already satisfied: holidays<1,>=0.25 in c:\users\tom\anaconda3\envs\dev\lib\site-packages (from prophet) (0.57)
Requirement already satisfied: tqdm>=4.36.1 in c:\users\tom\anaconda3\envs\dev\lib\site-packages (from prophet) (4.66.4)
Requirement already satisfied: importlib-resources in c:\users\tom\anaconda3\envs\dev\lib\site-packages (from prophet) (6.4.5)
Requirement already satisfied: stanio<2.0.0,>=0.4.0 in c:\users\tom\anaconda3\envs\dev\lib\site-packages (from cmdstanpy>=1.0.4->prophet) (0.5.1)
Requirement already satisfied: python-dateutil in c:\users\tom\anaconda3\envs\dev\lib\site-packages (from holidays<1,>=0.25->prophet) (2.9.0.post0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\tom\anaconda3\envs\dev\lib\site-packages (from matplotlib>=2.0.0->prophet) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\tom\anaconda3\envs\dev\lib\site-packages (from matplotlib>=2.0.0->prophet) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\tom\anaconda3\envs\dev\lib\site-packages (from matplotlib>=2.0.0->prophet) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\tom\anaconda3\envs\dev\lib\site-packages (from matplotlib>=2.0.0->prophet) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\tom\anaconda3\envs\dev\lib\site-packages (from matplotlib>=2.0.0->prophet) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\tom\anaconda3\envs\dev\lib\site-packages (from matplotlib>=2.0.0->prophet) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\tom\anaconda3\envs\dev\lib\site-packages (from matplotlib>=2.0.0->prophet) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in c:\users\tom\anaconda3\envs\dev\lib\site-packages (from pandas>=1.0.4->prophet) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\tom\anaconda3\envs\dev\lib\site-packages (from pandas>=1.0.4->prophet) (2023.3)
Requirement already satisfied: colorama in c:\users\tom\anaconda3\envs\dev\lib\site-packages (from tqdm>=4.36.1->prophet) (0.4.6)
Requirement already satisfied: six>=1.5 in c:\users\tom\anaconda3\envs\dev\lib\site-packages (from python-dateutil->holidays<1,>=0.25->prophet) (1.16.0)

In [19]:
# Import the required libraries and dependencies
import pandas as pd
import datetime as dt
from prophet import Prophet

%matplotlib inline

In [20]:
# Download the lyft_Dec_21.parquet file from Google Drive
!gdown https://drive.google.com/uc?id=1mV0alGsQJI9-SioD21VUdIKUtQemqvtj

^C

Downloading...
From (original): https://drive.google.com/uc?id=1mV0alGsQJI9-SioD21VUdIKUtQemqvtj
From (redirected): https://drive.google.com/uc?id=1mV0alGsQJI9-SioD21VUdIKUtQemqvtj&confirm=t&uuid=435bef82-d334-43b2-894a-95ea62675a7a
To: c:\Users\Tom\Bootcamp\Projects\project1_group1_osubootcamp\lyft_Dec_21.parquet

  0%|          | 0.00/105M [00:00<?, ?B/s]
  1%|          | 1.05M/105M [00:00<00:12, 8.67MB/s]
  3%|▎         | 3.67M/105M [00:00<00:05, 18.0MB/s]
  6%|▋         | 6.82M/105M [00:00<00:04, 22.1MB/s]
  9%|▉         | 9.96M/105M [00:00<00:03, 24.1MB/s]
 12%|█▏        | 13.1M/105M [00:00<00:03, 25.1MB/s]
 15%|█▌        | 16.3M/105M [00:00<00:03, 25.7MB/s]
 18%|█▊        | 19.4M/105M [00:00<00:03, 26.1MB/s]
 21%|██▏       | 22.5M/105M [00:00<00:03, 26.4MB/s]
 24%|██▍       | 25.7M/105M [00:01<00:03, 26.4MB/s]
 27%|██▋       | 28.8M/105M [00:01<00:02, 26.7MB/s]
 30%|███       | 32.0M/105M [00:01<00:02, 25.6MB/s]
 33%|███▎      | 35.1M/105M [00:01<00:02, 25.7MB/s]
 36%|███▌      | 37.7M/105M [00:01<00:02, 25.0MB/s]
 38%|███▊      | 40.4M/105M [00:01<00:02, 24.5MB/s]
 41%|████      | 43.0M/105M [00:01<00:02, 24.0MB/s]
 43%|████▎     | 45.6M/105M [00:01<00:02, 23.9MB/s]
 46%|████▌     | 48.2M/105M [00:01<00:02, 23.6MB/s]
 48%|████▊     | 50.9M/105M [00:02<00:02, 24.1MB/s]
 51%|█████▏    | 54.0M/105M [00:02<00:02, 24.9MB/s]
 54%|█████▍    | 56.6M/105M [00:02<00:01, 25.2MB/s]
 57%|█████▋    | 59.8M/105M [00:02<00:01, 25.6MB/s]
 59%|█████▉    | 62.4M/105M [00:02<00:01, 25.4MB/s]
 62%|██████▏   | 65.0M/105M [00:02<00:01, 25.3MB/s]
 64%|██████▍   | 67.6M/105M [00:02<00:01, 25.2MB/s]
 67%|██████▋   | 70.3M/105M [00:02<00:01, 25.2MB/s]
 69%|██████▉   | 72.9M/105M [00:02<00:01, 25.1MB/s]
 72%|███████▏  | 75.5M/105M [00:03<00:01, 25.2MB/s]
 74%|███████▍  | 78.1M/105M [00:03<00:01, 25.1MB/s]
 77%|███████▋  | 80.7M/105M [00:03<00:00, 25.1MB/s]
 79%|███████▉  | 83.4M/105M [00:03<00:00, 25.1MB/s]
 82%|████████▏ | 86.0M/105M [00:03<00:00, 25.1MB/s]
 84%|████████▍ | 88.6M/105M [00:03<00:00, 25.1MB/s]
 87%|████████▋ | 91.2M/105M [00:03<00:00, 25.1MB/s]
 90%|████████▉ | 94.4M/105M [00:03<00:00, 25.8MB/s]
 93%|█████████▎| 97.5M/105M [00:03<00:00, 26.1MB/s]
 96%|█████████▌| 101M/105M [00:04<00:00, 26.4MB/s]
 99%|█████████▉| 104M/105M [00:04<00:00, 26.4MB/s]
100%|██████████| 105M/105M [00:04<00:00, 25.1MB/s]

In [4]:
# Download the lyft_Dec_22.parquet file from Google Drive
!gdown https://drive.google.com/uc?id=1k7DROBFpkx-rJWGHUsGDb2T_eTyafBq8

Downloading...
From (original): https://drive.google.com/uc?id=1k7DROBFpkx-rJWGHUsGDb2T_eTyafBq8
From (redirected): https://drive.google.com/uc?id=1k7DROBFpkx-rJWGHUsGDb2T_eTyafBq8&confirm=t&uuid=1be6cde0-375d-44da-ae2c-c8d17abc5fa6
To: c:\Users\Tom\Bootcamp\Projects\project1_group1_osubootcamp\lyft_Dec_22.parquet

  0%|          | 0.00/137M [00:00<?, ?B/s]
  0%|          | 524k/137M [00:00<00:26, 5.12MB/s]
  2%|▏         | 3.15M/137M [00:00<00:07, 16.9MB/s]
  4%|▍         | 5.77M/137M [00:00<00:06, 21.0MB/s]
  7%|▋         | 8.91M/137M [00:00<00:05, 23.5MB/s]
  9%|▉         | 12.1M/137M [00:00<00:05, 24.9MB/s]
 11%|█         | 15.2M/137M [00:00<00:04, 25.6MB/s]
 13%|█▎        | 18.4M/137M [00:00<00:04, 26.1MB/s]
 16%|█▌        | 21.5M/137M [00:00<00:04, 26.4MB/s]
 18%|█▊        | 24.6M/137M [00:01<00:04, 26.6MB/s]
 20%|██        | 27.8M/137M [00:01<00:04, 26.7MB/s]
 23%|██▎       | 30.9M/137M [00:01<00:03, 26.7MB/s]
 25%|██▍       | 34.1M/137M [00:01<00:03, 26.9MB/s]
 27%|██▋       | 37.2M/137M [00:01<00:03, 26.9MB/s]
 29%|██▉       | 40.4M/137M [00:01<00:03, 27.0MB/s]
 32%|███▏      | 43.5M/137M [00:01<00:03, 26.9MB/s]
 34%|███▍      | 46.7M/137M [00:01<00:03, 25.4MB/s]
 37%|███▋      | 50.3M/137M [00:01<00:03, 27.2MB/s]
 39%|███▉      | 53.5M/137M [00:02<00:03, 27.1MB/s]
 41%|████▏     | 56.6M/137M [00:02<00:02, 27.1MB/s]
 44%|████▎     | 59.8M/137M [00:02<00:02, 27.0MB/s]
 46%|████▌     | 62.9M/137M [00:02<00:02, 27.0MB/s]
 48%|████▊     | 66.1M/137M [00:02<00:02, 27.0MB/s]
 51%|█████     | 69.2M/137M [00:02<00:02, 27.0MB/s]
 53%|█████▎    | 72.4M/137M [00:02<00:02, 27.0MB/s]
 55%|█████▌    | 75.5M/137M [00:02<00:02, 27.0MB/s]
 57%|█████▋    | 78.6M/137M [00:03<00:02, 26.9MB/s]
 60%|█████▉    | 81.8M/137M [00:03<00:02, 27.1MB/s]
 62%|██████▏   | 84.9M/137M [00:03<00:01, 27.0MB/s]
 64%|██████▍   | 88.1M/137M [00:03<00:01, 27.0MB/s]
 67%|██████▋   | 91.2M/137M [00:03<00:01, 26.8MB/s]
 69%|██████▉   | 94.4M/137M [00:03<00:01, 26.7MB/s]
 71%|███████   | 97.5M/137M [00:03<00:01, 26.6MB/s]
 73%|███████▎  | 101M/137M [00:03<00:01, 26.4MB/s]
 76%|███████▌  | 104M/137M [00:03<00:01, 26.5MB/s]
 78%|███████▊  | 107M/137M [00:04<00:01, 26.5MB/s]
 80%|████████  | 110M/137M [00:04<00:01, 26.5MB/s]
 83%|████████▎ | 113M/137M [00:04<00:00, 26.7MB/s]
 85%|████████▍ | 116M/137M [00:04<00:00, 26.7MB/s]
 87%|████████▋ | 120M/137M [00:04<00:00, 26.8MB/s]
 90%|████████▉ | 123M/137M [00:04<00:00, 26.8MB/s]
 92%|█████████▏| 126M/137M [00:04<00:00, 26.9MB/s]
 94%|█████████▍| 129M/137M [00:04<00:00, 26.9MB/s]
 96%|█████████▋| 132M/137M [00:05<00:00, 27.0MB/s]
 99%|█████████▊| 135M/137M [00:05<00:00, 27.0MB/s]
100%|██████████| 137M/137M [00:05<00:00, 26.4MB/s]

In [31]:
# Read the lyft_Dec_21.parquet, lyft_Dec_22.parquet, and lyft_Dec_23.parquet files into DataFrames.
lyft_21_df = pd.read_parquet("lyft_Dec_21.parquet")
lyft_22_df = pd.read_parquet("lyft_Dec_22.parquet")
lyft_23_df = pd.read_parquet("lyft_Dec_23.parquet")

# Set the `pickup_datetime` as the index to the DataFrame.
lyft_21_df.set_index("pickup_datetime", inplace=True, drop=False)  
lyft_22_df.set_index("pickup_datetime", inplace=True, drop=False)
lyft_23_df.set_index("pickup_datetime", inplace=True, drop=False)

# Display the first 5 rows of the DataFrames.
display(lyft_21_df.head())
display(lyft_22_df.head())
display(lyft_23_df.head())

,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,trip_time,base_passenger_fare,tolls,bcf,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,Total_Passenger_Cost
pickup_datetime,,,,,,,,,,,,,,,
2021-12-01 00:00:00,2021-12-01 00:00:00,2021-12-01 00:46:34,138,265,14.172,2794,42.72,20.66,1.98,0.00,0.00,0.0,0.0,40.51,65.36
2021-12-01 00:00:01,2021-12-01 00:00:01,2021-12-01 00:07:41,211,4,1.655,460,14.43,0.00,0.43,1.28,2.75,0.0,0.0,5.69,18.89
2021-12-01 00:00:02,2021-12-01 00:00:02,2021-12-01 00:09:17,163,239,2.195,576,11.61,0.00,0.35,1.03,2.75,0.0,0.0,7.26,15.74
2021-12-01 00:00:02,2021-12-01 00:00:02,2021-12-01 00:07:35,174,254,1.356,453,7.15,0.00,0.21,0.63,0.00,0.0,0.0,5.47,7.99
2021-12-01 00:00:03,2021-12-01 00:00:03,2021-12-01 00:08:33,61,62,1.430,510,7.22,0.00,0.22,0.64,0.00,0.0,0.0,5.86,8.08

,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,trip_time,base_passenger_fare,tolls,bcf,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,Total_Passenger_Cost
pickup_datetime,,,,,,,,,,,,,,,
2022-12-01 00:00:01,2022-12-01 00:00:01,2022-12-01 00:28:16,132,25,19.092,1695,55.69,0.0,1.75,5.16,0.00,2.5,11.72,37.24,76.82
2022-12-01 00:00:01,2022-12-01 00:00:01,2022-12-01 00:16:10,230,263,2.814,969,18.14,0.0,0.54,1.61,2.75,0.0,0.00,11.87,23.04
2022-12-01 00:00:01,2022-12-01 00:00:01,2022-12-01 00:14:53,41,41,1.426,892,11.15,0.0,0.16,0.47,0.00,0.0,0.00,9.58,11.78
2022-12-01 00:00:03,2022-12-01 00:00:03,2022-12-01 00:15:53,181,80,6.524,950,20.48,0.0,0.61,1.82,0.00,0.0,0.00,16.01,22.91
2022-12-01 00:00:03,2022-12-01 00:00:03,2022-12-01 00:14:28,213,3,5.343,865,15.11,0.0,0.45,1.34,0.00,0.0,0.00,13.89,16.90

,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,trip_time,base_passenger_fare,tolls,bcf,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,Total_Passenger_Cost
pickup_datetime,,,,,,,,,,,,,,,
2023-12-01 00:00:00,2023-12-01 00:00:00,2023-12-01 00:25:06,130,216,3.882,1506,14.17,0.00,0.39,1.26,0.00,0.0,10.0,19.43,25.82
2023-12-01 00:00:00,2023-12-01 00:00:00,2023-12-01 00:25:31,170,61,8.530,1531,37.25,2.24,1.08,3.48,2.75,0.0,0.0,25.80,46.80
2023-12-01 00:00:00,2023-12-01 00:00:00,2023-12-01 01:05:08,158,265,18.970,3908,59.29,22.44,2.25,0.00,0.00,0.0,0.0,67.70,83.98
2023-12-01 00:00:01,2023-12-01 00:00:01,2023-12-01 00:19:44,238,185,10.432,1183,28.39,0.24,0.79,2.54,2.75,0.0,0.0,25.00,34.71
2023-12-01 00:00:01,2023-12-01 00:00:01,2023-12-01 00:22:25,216,61,9.309,1344,29.56,0.00,0.81,2.62,0.00,0.0,0.0,25.05,32.99

In [32]:
# Group the DataFrames by date and calculate the total passenger cost for each day.
lyft_21_Cost_df = lyft_21_df.groupby(lyft_21_df.index.date)["Total_Passenger_Cost"].sum()
lyft_22_Cost_df = lyft_22_df.groupby(lyft_22_df.index.date)["Total_Passenger_Cost"].sum()
lyft_23_Cost_df = lyft_23_df.groupby(lyft_23_df.index.date)["Total_Passenger_Cost"].sum()

# Display the first 5 rows of the DataFrames.
display(lyft_21_Cost_df.head())
display(lyft_22_Cost_df.head())
display(lyft_23_Cost_df.head())

2021-12-01    3761786.77
2021-12-02    4031446.44
2021-12-03    4622800.68
2021-12-04    5476415.93
2021-12-05    6180035.55
Name: Total_Passenger_Cost, dtype: float64

2022-12-01    5091177.57
2022-12-02    5406802.18
2022-12-03    5939219.55
2022-12-04    5480630.92
2022-12-05    4343212.44
Name: Total_Passenger_Cost, dtype: float64

2023-12-01    6685613.35
2023-12-02    6611579.64
2023-12-03    6877198.15
2023-12-04    5119050.26
2023-12-05    5314054.55
Name: Total_Passenger_Cost, dtype: float64

In [26]:
# Concatenate the lyft_21_Cost_df, lyft_22_Cost_df, and lyft_23_Cost_df DataFrames.
lyft_cost_df = pd.concat([lyft_21_Cost_df, lyft_22_Cost_df, lyft_23_Cost_df])
lyft_cost_df.head()

2021-12-01    3761786.77
2021-12-02    4031446.44
2021-12-03    4622800.68
2021-12-04    5476415.93
2021-12-05    6180035.55
Name: Total_Passenger_Cost, dtype: float64

In [36]:
# Reset the index and rename the columns 
prophet_cost_df = lyft_cost_df.reset_index()
prophet_cost_df.columns = ["ds", "y"]
prophet_cost_df.head()

           ds           y
0  2021-12-01  3761786.77
1  2021-12-02  4031446.44
2  2021-12-03  4622800.68
3  2021-12-04  5476415.93
4  2021-12-05  6180035.55

In [37]:
# Confirm that there are no NaN values
display(prophet_cost_df.tail())
prophet_cost_df = prophet_cost_df.dropna()
prophet_cost_df.tail()

            ds           y
88  2023-12-27  4892308.40
89  2023-12-28  5364945.63
90  2023-12-29  5876553.00
91  2023-12-30  5819716.86
92  2023-12-31  6414020.40

            ds           y
88  2023-12-27  4892308.40
89  2023-12-28  5364945.63
90  2023-12-29  5876553.00
91  2023-12-30  5819716.86
92  2023-12-31  6414020.40

In [39]:
# Call the Prophet function and store as an object
m_cost = Prophet()

# Fit the time series Prophet model
m_cost.fit(prophet_cost_df)

21:20:39 - cmdstanpy - INFO - Chain [1] start processing
21:20:40 - cmdstanpy - INFO - Chain [1] done processing

In [41]:
# Create a future DataFrame to hold predictions
# Make the prediction go out as far as 720 hours (30 days)
future_cost = m_cost.make_future_dataframe(periods=366, freq='D')

# Review the first and last 10 rows of the DataFrame
display(future_cost.head(10))
display(future_cost.tail(10))

          ds
0 2021-12-01
1 2021-12-02
2 2021-12-03
3 2021-12-04
4 2021-12-05
5 2021-12-06
6 2021-12-07
7 2021-12-08
8 2021-12-09
9 2021-12-10

            ds
449 2024-12-22
450 2024-12-23
451 2024-12-24
452 2024-12-25
453 2024-12-26
454 2024-12-27
455 2024-12-28
456 2024-12-29
457 2024-12-30
458 2024-12-31

In [42]:
# Make a forecast based on the future DataFrame
forecast_cost = m_cost.predict(future_cost)

# Review the first five rows of the forecast DataFrame
display(forecast_cost.head())
display(forecast_cost.tail())

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2021-12-01,-5.376921e+06,3.254330e+06,4.119782e+06,-5.376921e+06,-5.376921e+06,9.058479e+06,9.058479e+06,9.058479e+06,-240347.964573,-240347.964573,-240347.964573,9.298826e+06,9.298826e+06,9.298826e+06,0.0,0.0,0.0,3.681557e+06
1,2021-12-02,-5.374003e+06,3.842994e+06,4.774200e+06,-5.374003e+06,-5.374003e+06,9.704503e+06,9.704503e+06,9.704503e+06,178401.610155,178401.610155,178401.610155,9.526101e+06,9.526101e+06,9.526101e+06,0.0,0.0,0.0,4.330500e+06
2,2021-12-03,-5.371085e+06,4.286295e+06,5.192213e+06,-5.371085e+06,-5.371085e+06,1.009915e+07,1.009915e+07,1.009915e+07,472512.263807,472512.263807,472512.263807,9.626640e+06,9.626640e+06,9.626640e+06,0.0,0.0,0.0,4.728068e+06
3,2021-12-04,-5.368166e+06,4.497093e+06,5.430179e+06,-5.368166e+06,-5.368166e+06,1.031346e+07,1.031346e+07,1.031346e+07,668757.247978,668757.247978,668757.247978,9.644698e+06,9.644698e+06,9.644698e+06,0.0,0.0,0.0,4.945289e+06
4,2021-12-05,-5.365248e+06,4.159659e+06,5.048054e+06,-5.365248e+06,-5.365248e+06,9.945061e+06,9.945061e+06,9.945061e+06,327591.275664,327591.275664,327591.275664,9.617469e+06,9.617469e+06,9.617469e+06,0.0,0.0,0.0,4.579812e+06

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
454,2024-12-27,-2.105277e+06,6.011680e+06,6.970747e+06,-2.105453e+06,-2.105096e+06,8.591008e+06,8.591008e+06,8.591008e+06,472512.263808,472512.263808,472512.263808,8.118496e+06,8.118496e+06,8.118496e+06,0.0,0.0,0.0,6.485731e+06
455,2024-12-28,-2.102362e+06,6.273916e+06,7.163433e+06,-2.102539e+06,-2.102181e+06,8.831779e+06,8.831779e+06,8.831779e+06,668757.247979,668757.247979,668757.247979,8.163022e+06,8.163022e+06,8.163022e+06,0.0,0.0,0.0,6.729417e+06
456,2024-12-29,-2.099448e+06,6.072042e+06,7.000259e+06,-2.099625e+06,-2.099265e+06,8.645896e+06,8.645896e+06,8.645896e+06,327591.275668,327591.275668,327591.275668,8.318305e+06,8.318305e+06,8.318305e+06,0.0,0.0,0.0,6.546449e+06
457,2024-12-30,-2.096533e+06,5.186952e+06,6.095573e+06,-2.096711e+06,-2.096350e+06,7.741937e+06,7.741937e+06,7.741937e+06,-849795.730948,-849795.730948,-849795.730948,8.591733e+06,8.591733e+06,8.591733e+06,0.0,0.0,0.0,5.645404e+06
458,2024-12-31,-2.093618e+06,5.883021e+06,6.801985e+06,-2.093797e+06,-2.093435e+06,8.426277e+06,8.426277e+06,8.426277e+06,-557118.702086,-557118.702086,-557118.702086,8.983396e+06,8.983396e+06,8.983396e+06,0.0,0.0,0.0,6.332659e+06

In [24]:
# Group the DataFrames by date and calculate the number of trips for each day.
lyft_21_Count_df = lyft_21_df.groupby([lyft_21_df.index.date])["PULocationID"].count()
lyft_22_Count_df = lyft_22_df.groupby([lyft_22_df.index.date])["PULocationID"].count()
lyft_23_Count_df = lyft_23_df.groupby([lyft_23_df.index.date])["PULocationID"].count()

# Display the first 5 rows of the DataFrames.
display(lyft_21_Count_df.head())
display(lyft_22_Count_df.head())
display(lyft_23_Count_df.head())

2021-12-01    136890
2021-12-02    141684
2021-12-03    167948
2021-12-04    184653
2021-12-05    152947
Name: PULocationID, dtype: int64

2022-12-01    187099
2022-12-02    206720
2022-12-03    230342
2022-12-04    188604
2022-12-05    161900
Name: PULocationID, dtype: int64

2023-12-01    229301
2023-12-02    227712
2023-12-03    219973
2023-12-04    172382
2023-12-05    177039
Name: PULocationID, dtype: int64

In [27]:
# Concatenate the lyft_21_Count_df, lyft_22_Count_df, and lyft_23_Count_df DataFrames.
lyft_count_df = pd.concat([lyft_21_Count_df, lyft_22_Count_df, lyft_23_Count_df])
lyft_count_df.head()

2021-12-01    136890
2021-12-02    141684
2021-12-03    167948
2021-12-04    184653
2021-12-05    152947
Name: PULocationID, dtype: int64